
.Button{
	font-family:inherit;
    font-size:inherit;
    color:#c64a1a;
    border : 1px solid #c64a1a;
    display: inline-block;
}

.Button > div {
	padding : 2px;
	margin : 1px;
}

 .Button:hover{
     cursor:pointer;
	 background : #c64a1a;
	 color:white;
}

.Button.Disabled:hover {
    cursor:default;
    border-color:lightgray;
    background : inherit;
    color : gray;		
}

.Focus {

}
 .Pressed{}

.Disabled {
	color:gray;
	border-color:lightgray;
	cursor:default;
}

