.AppBackground {
 background:white;
}

.ContentPanel{
    padding:12px;
    background:url("../Images/whitecontentpanel.jpg") no-repeat;
    width:950px;
    height:668px;
}
.HorizontalDivider hr{
    color:white;
}
.gwt-TabPanelBottom{
    border:0;
    background:transparent;
}
.WelcomeLogout{
    width:900px;
    height:56px;
    background:url("../Images/title.png") no-repeat 27px 2px;   
}
.WelcomeLogout .webLabel{
    color:gray;
    font-size:14px;
    padding:20px 8px 16px 8px;
}
.WelcomeLogout .clickable{
width:58px;
    background:url("../Images/clickable.jpg") no-repeat right 10px;
}
.crumbline {
    margin:2px 0 0 2px;
    background: url("../Images/crumbline.jpg") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 950px;
}
.crumbline .webLabel{
    padding:4px 0 0 6px;
}
.Links {
    background: url("../Images/links.jpg") no-repeat;
    width:60px;
    height:750px;
    padding:16px 4px 0 0;
    margin:4px 0 0 2px;
}
.Links .ConfirmWindow .top *, .Links .ConfirmWindow .middle .middleLeft, .Links .ConfirmWindow .middle .middleRightInner, .Links .ConfirmWindow .middle .middleCenter, .Links .ConfirmWindow .bottom *{
    background:none;
}

.subform{
    border:0;
    margin:0;        
    padding-bottom:12px;
}

.LinkPop .ErrorWindow{
   margin:-80px 0 0 60px;
}

.LinkPop .ErrorWindow *, .ErrorWindow .middleRightInner{
    background:none;
}
.LinkPop .ErrorWindow .middleLeft{
    width:24px;
    background: url("../Images/errorwindowleft.png") no-repeat;
}
.LinkPop .ErrorWindow .middleCenter{
height:47px;
    background: url("../Images/errorwindowcenter.png") repeat-x;
}
.LinkPop .ErrorWindow .middleRight{
width:6px;
    background: url("../Images/errorwindowright.png") no-repeat;
}
.LinkPop .screenlable{
    background:none;
}
.FormTitle{
	-moz-user-select: none;
    color:#c74a1e;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:2px;
    font-size:18px;
    background:none;
    text-align:left;
}
.webButton {
    cursor:pointer;
    height:56px;
}
.Prompt{
    color:#333;
}
.middleCenter{
background:#deecfd;
		}
.Links .ConfirmWindow .middleRight {
    background:none;
}
.Links .ConfirmWindow .middleRightInner{
    margin-top:0;
        width:0;
}
.Links .ConfirmWindow .middleCenterInner {
    padding:0;
    width:54px;
}
.Links .ConfirmWindow .middleLeft {
    width:0;
}
.Links .ConfirmWindow .top .topLeft .topLeftInner{
    width:0;
}
.ErrorWindow .middleRight {
    background:none;
}
.ErrorWindow .ScreenLabel{
    padding:4px;
}
.HomeText{
    color:#333;
    font-family : Verdana,Geneva,Arial,Helevetica,sans-serif;
	font-size : 12px;
	padding:16px;
}
.webFlowPanel {
	display :inline;
}
.help div{
    padding:6px;
    font-family : Verdana,Geneva,Arial,Helevetica,sans-serif;
	font-size : 12px;
    color:gray;
}

/* .webTestIcon, .requestFormIcon,  .turnaroundIcon, .finalReportIcon,  
.onholdReportIcon, .caseManagementIcon,  .reportableIcon, .dataDumpIcon,*/

.homeIcon,
.finalReportEnvironmentalIcon, .finalReportPrivateWellIcon, .finalReportSDWISIcon,
.statusReportIcon,
.dataDumpEnvironmentalIcon, .dataDumpPrivateWellIcon, .dataDumpSDWISIcon,
.notificationPrefIcon, .changePasswordIcon
{
	height : 54px;
	width : 54px;
}
.homeIcon{
	background:url(../Images/home.jpg) no-repeat center center;
}
.finalReportEnvironmentalIcon{
	background:url(../Images/finalReportEnvironmentalIcon.jpg) no-repeat center center;
}
.finalReportPrivateWellIcon{
	background:url(../Images/finalReportPrivateWellIcon.jpg) no-repeat center center;
}
.finalReportSDWISIcon{
	background:url(../Images/finalReportSDWISIcon.jpg) no-repeat center center;
}
.statusReportIcon{
	background:url(../Images/statusReportIcon.jpg) no-repeat center center;
}
.dataDumpEnvironmentalIcon{
	background:url(../Images/dataDumpEnvironmentalIcon.jpg) no-repeat center center;
}
.dataDumpPrivateWellIcon{
	background:url(../Images/dataDumpPrivateWellIcon.jpg) no-repeat center center;
}
.dataDumpSDWISIcon{
	background:url(../Images/dataDumpSDWISIcon.jpg) no-repeat center center;
}
.notificationPrefIcon{
	background:url(../Images/notification.jpg) no-repeat center center;
}
.changePasswordIcon{
    background:url(../Images/changepassword.jpg) no-repeat center center;
}

.webLabel {
	font-family : Verdana,Geneva,Arial,Helevetica,sans-serif;
	font-size : 12px;
	color:white;
}

.menuLabel {
	font-family : Verdana,Geneva,Arial,Helevetica,sans-serif;
	font-size : 10px;
	color:white;
}
.clickable {
	text-decoration : underline;
	cursor : pointer;
}
.HomeContainer {
	width : 60px;
	height : 30px;
	border-right :1px solid gray;
}

.divider {
	height : 100%;
	width : 2px;
	background : red;
}

.categories {
	border-right: 1px solid gray;
}

.MultiRowTable .AltTableRow tr {
	background : #EFEFEF;
}