.Button {
	font-family: inherit;
	font-size: inherit;
	color: 444444;
	border: 1px solid #ffffff;
	display: flex;
}

.Button>div {
	padding: 2px;
	margin: 1px;
}

.Button:hover {
	cursor: pointer;
	background: #e1662f;
	color: white;
	border: 1px solid #c64a1a;
}

.Button.Disabled:hover {
	cursor: default;
	border-color: lightgray;
	background: inherit;
	color: gray;
}

.Focus {
	
}

.Pressed {
	
}

.Disabled {
	color: gray;
	border-color: lightgray;
	cursor: default;
}