.header-nav .header-section .link-hover {
	color: #464D6C;
	cursor: pointer;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 11px;
	padding-top:1px;
	padding-left: 8px;
}

.heading {
	padding: 0;
	margine: 0;
}

.HeaderLabel {
	padding: 0;
}

.AppBackground {
    background: #343434;
}
.spinnerIcon {
    background: url("../Images/OSXspinnerGIF.gif") no-repeat white;
}
.ConfirmWindow .middleLeft,
.ConfirmWindow .middleRight,
.ConfirmWindow .middleRightInner,
.ConfirmWindow .bottomCenterInner,
.ConfirmWindow .topCenter,
.ConfirmWindow .bottomLeft,
.ConfirmWindow .bottomRightInner,
.ConfirmWindow .bottomCenter,
.ConfirmWindow .topLeftInner,
.ConfirmWindow .topRightInner,
.WindowTL, .WindowLeft, .WindowRight,
.WindowBL, .WindowBR, .WindowTR, .TodayBar, .middleCenter
{
    background:none;
}
.WindowTL, .WindowLeft, .WindowRight,
.WindowBL, .WindowBR, .WindowTR{
    width:0;
}
.BottomButtonPanelContainer{
    background:none;
    height:34px;
}
.WindowBody{
    background:none;
    border:0;
}
.WindowPanel{
    background:#1f1f1f;
}
.dragdrop-handle, .StatusBar{
    background:black;
}
.ConfirmCaptionLabel{
    padding:4px;
    background:black;
}
.ConfirmWindow .middleCenterInner{
    padding:0;
    padding-bottom:8px;
    background:#1f1f1f;
}
.ConfirmWindow .Form{
    color:#ABABAB;
}
.largeErrorIcon{
    margin:4px;
    margin-left:8px;
}
.Prompt{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.ButtonLeftSide, .ButtonPanelButton .ButtonLeftSide{
    width:0;
    margin-left:0;
    background:none;
}
.ButtonRightSide, .ButtonPanelButton .ButtonRightSide{
    background:none;
    width:0;
}
.Hover .ButtonContent, .Hover .ButtonPanelButton .ButtonContent .ScreenPanel{ 
    background: url("../Images/webbuttonbg.gif") repeat-x;
    color:#333;
}
.ButtonContent, .disabled .ButtonContent, .ButtonPanelButton .ButtonContent{
    height:20px;
    color:#7D88DA;
    border: 1px solid #CCCCCC;    
    background: url("../Images/webbuttonbg.gif") repeat-x;
    padding: 4px 8px;
}
.ButtonContent .ScreenLabel{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
}

.header-nav {
    background: url("../Images/webheader.gif") repeat-x 0 6px;
    height: 116px;
    width: 100%;
}
.header-logo {
    background: url("../Images/shl-logo.gif") no-repeat;
    height: 134px;
    margin: -6px 0 0 8px;
    width: 230px;
    cursor:pointer;
}
.header-nav TD {
    float: left;
    vertical-align: top;
}
.header-nav .header-section {
    background: url("../Images/webheaderdivider.gif") no-repeat left -1px;
    height: 110px;
    margin-left: 8px;
    margin-top: 6px;
}
.header-nav .header-section .section-label {
    color: white;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    height: 22px;
    margin-top:4px;
    padding-left: 8px;
}
.header-nav .header-section .label {
    color: black;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-left: 8px;
}
.header-nav .header-section .link {
    color: white;
    cursor: pointer;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-top:1px;
    padding-left: 8px;
}

.help div{
    padding:6px;
    padding-left:60px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 12px;
    color:gray;
}

.helpLeftAlign div{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 12px;
    color:gray;
}

.helpHeader{
	-moz-user-select: none;
    color:#c74a1e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    /*padding:2px;*/
    font-size:12px;
    background:none;
    text-align:left;
}


.welcome, .news{
    padding:6px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 12px;
    color:gray;
    	background: #EFEFEF url('../Images/row-over.gif') repeat-x scroll left top;
margin:8px;
    border:1px solid gray;
}
.ContentPanel{
    padding:12px;
    background:#fafafa;/*url("../Images/whitecontentpanel.jpg") no-repeat;*/
    width:992px;
    height:668px;
    margin-left:8px;
}
.WhiteContentPanel{
    background:#fafafa;
}
.HorizontalDivider hr{
    color:white;
}
.gwt-TabPanelBottom{
    border:0;
    background:transparent;
}
.WelcomeLogout{
    width:900px;
    height:56px;
    background:url("../Images/title.png") no-repeat 27px 2px;   
}
.WelcomeLogout .webLabel{
    color:gray;
    font-size:14px;
    padding:20px 8px 16px 8px;
}
.WelcomeLogout .clickable{
width:58px;
    background:url("../Images/clickable.jpg") no-repeat right 10px;
}
.crumbline {
    margin:2px 0 0 8px;
    background:black;/* url("../Images/crumbline.jpg") no-repeat scroll 0 0 transparent;*/
    height: 28px;
    width: 1016px;
}
.crumbline .webLabel{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding:0 0 0 6px;
}
.Links {
    background: url("../Images/links.jpg") no-repeat;
    width:60px;
    height:750px;
    padding:26px 4px 0 0;
    margin:4px 0 0 2px;
}
.Links .ConfirmWindow .top *, .Links .ConfirmWindow .middle .middleLeft, .Links .ConfirmWindow .middle .middleRightInner, .Links .ConfirmWindow .middle .middleCenter, .Links .ConfirmWindow .bottom *{
    background:none;
}

.subform{
    border:0;
    margin:0;        
    padding-bottom:12px;
}

.LinkPop .ErrorWindow{
  /* margin:-80px 0 0 60px; */
}

.LinkPop .ErrorWindow *, .ErrorWindow .middleRightInner{
    background:none;
}
.LinkPop .ErrorWindow .middleLeft{
    width:24px;
    background: url("../Images/errorwindowleft.png") no-repeat;
}
.LinkPop .ErrorWindow .middleCenter{
height:47px;
    background: url("../Images/errorwindowcenter.png") repeat-x;
}
.LinkPop .ErrorWindow .middleRight{
width:6px;
    background: url("../Images/errorwindowright.png") no-repeat;
}
.LinkPop .screenlable{
    background:none;
}
.FormTitle{
	-moz-user-select: none;
    color:#c74a1e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    padding:2px;
    font-size:18px;
    background:none;
    text-align:left;
}
.webButton {
    cursor:pointer;
    height:56px;
}
.Prompt{
    color:#333;
}

.Links .ConfirmWindow .middleRight {
    background:none;
}
.Links .ConfirmWindow .middleRightInner{
    margin-top:0;
        width:0;
}
.Links .ConfirmWindow .middleCenterInner {
    padding:0;
    width:54px;
}
.Links .ConfirmWindow .middleLeft {
    width:0;
}
.Links .ConfirmWindow .top .topLeft .topLeftInner{
    width:0;
}
.ErrorWindow .middleRight {
    background:none;
}
.ErrorWindow .ScreenLabel{
    padding:4px;
}
.HomeText{
    color:#333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 12px;
	padding:16px;
}
.webFlowPanel {
	display :inline;
}

/* .webTestIcon, .requestFormIcon,  .turnaroundIcon, .finalReportIcon,  
.onholdReportIcon, .caseManagementIcon,  .reportableIcon, .dataDumpIcon,*/

.homeIcon,
.finalReportEnvironmentalIcon, .finalReportPrivateWellIcon, .finalReportSDWISIcon,
.statusReportIcon,
.dataDumpEnvironmentalIcon, .dataDumpPrivateWellIcon, .dataDumpSDWISIcon,
.notificationPrefIcon, .changePasswordIcon
{
	height : 54px;
	width : 54px;
}
.homeIcon{
	background:url(../Images/home.jpg) no-repeat center center;
}
.finalReportEnvironmentalIcon{
	background:url(../Images/finalReportEnvironmentalIcon.jpg) no-repeat center center;
}
.finalReportPrivateWellIcon{
	background:url(../Images/finalReportPrivateWellIcon.jpg) no-repeat center center;
}
.finalReportSDWISIcon{
	background:url(../Images/finalReportSDWISIcon.jpg) no-repeat center center;
}
.statusReportIcon{
	background:url(../Images/statusReportIcon.jpg) no-repeat center center;
}
.dataDumpEnvironmentalIcon{
	background:url(../Images/dataDumpEnvironmentalIcon.jpg) no-repeat center center;
}
.dataDumpPrivateWellIcon{
	background:url(../Images/dataDumpPrivateWellIcon.jpg) no-repeat center center;
}
.dataDumpSDWISIcon{
	background:url(../Images/dataDumpSDWISIcon.jpg) no-repeat center center;
}
.notificationPrefIcon{
	background:url(../Images/notification.jpg) no-repeat center center;
}
.changePasswordIcon{
    background:url(../Images/changepassword.jpg) no-repeat center center;
}

.webLabel {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 12px;
	color:white;
}

.menuLabel {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size : 10px;
	color:white;
}
.clickable {
	text-decoration : underline;
	cursor : pointer;
}
.HomeContainer {
	width : 60px;
	height : 30px;
	border-right :1px solid gray;
}

.divider {
	height : 100%;
	width : 2px;
	background : red;
}

.categories {
	border-right: 1px solid gray;
}