.webTestIcon {
	height : 90px;
	width : 90px;
	background:transparent url(../Images/test.png) no-repeat scroll center;
}

.webIPodIcon {
	height : 90px;
	width : 90px;
	background:transparent url(../Images/ipod.png) no-repeat scroll center;
}

.webLabel {
	font-family : Verdana,Geneva,Arial,Helevetica,sans-serif;
	font-size : 12px;
	color:white;
}

.clickable {
	text-decoration : underline;
	cursor : pointer;	
}

.CrumbLine {
	height:30px;
    width:100%;
    background:black url(../Images/topmenubg.gif) repeat-x;
}
