@external  .gwt-TabLayoutPanel, .gwt-TabLayoutPanelTabs, .gwt-TabLayoutPanelContentContainer, .gwt-TabLayoutPanelContent, .gwt-TabLayoutPanelTab, .gwt-TabLayoutPanelTab-selected, .helpHeader, helpText, helpBoldText;
a,a:visited {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	color: #0066cc;
	text-decoration: underline;
}

.Link {
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
}

.WhiteContentPanel {
	background: white;
}

.PopupPanelWithBorder {
	background: #F0F0F0;
	border-style: groove;
	border-width: 5px;
	border-color: green
}

.Form {
	margin: 4px 8px;
}

.FormTitle {
	-moz-user-select: none;
	color: #486095;
	text-align: center;
	height: 18px;
	background: transparent url(../Images/buttonbarbg.gif) repeat-x scroll 0
		0;
}

.Prompt {
	-moz-user-select: none;
	color: gray;
	padding: 2px 0 2px 2px;
	text-align: right;
	test-justify: trim;
	white-space: nowrap;
}

.WarningLabel {
	-moz-user-select: none;
	color: #FF0000;
	padding: 5px 0 0 12px;
	font-weight: bold;
}

.ScreenLabelLink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.Title {
	-moz-user-select: none;
	color: gray;
	padding: 2px;
	padding-left: 4px;
}

.gwt-TabLayoutPanel {
	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: #ccc;
	padding-top: 6px;
	padding-left: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: hidden;
	padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 4px;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	cursor: hand;
	color: white;
	font-weight: normal;
	text-align: center;
	background: #8E8E8E;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: white;
	color: #333;
	font-weight: bold;
}

@sprite .header_logo {
	gwt-image: 'headerLogo';
	height: 134px;
	margin: -6px 0 0 8px;
	width: 230px;
	cursor: pointer;
}

.AppBackground {
	background: #343434;
}

.helpHeader {
	-moz-user-select: none;
	color: #c74a1e;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: none;
	text-align: left;
}

.helpText {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: gray;
}

.helpBoldText {
	font-weight: bold;
	color: black;
}