@sprite .helpImage {
	gwt-image: 'helpImage';
}

@sprite .removeImage {
	gwt-image: 'removeImage';
	margin-right: 50%;
	margin-left: 50%;
}

@sprite .reportImage {
	gwt-image: 'reportImage';
}

@sprite .emailImage {
	gwt-image: 'emailImage';
}

@sprite .spreadsheetImage {
	gwt-image: 'spreadsheetImage';
}