.Button {
	display: inline-block;
	/*border: 1px solid #7293be;
	border-radius: 4px;*/
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: #005d8d;
	padding: 3px;
	cursor: pointer;
}

.Button:hover {
	text-decoration: underline;
	font-weight: bolder;
	font-style: italic;
	font-size: 12px;
}

.Button.Disabled:hover {
	text-decoration: inherit;
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	font-family: arial;
	cursor: default;
}

.Focus {
	
}

.Pressed {
	
}

.Disabled {
	color: grey;
}