<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.openelis.login">

   <resources>
      <resource-root path="openelis-login.jar"/>
   </resources>
  
   <dependencies>
     <module name="org.picketbox" slot="main"/>
     <module name="javaee.api"/>
   </dependencies>

</module>
